$size__site-main: 100%;
$size__site-sidebar: 25%;

$x-small:'only screen and (min-width:599px)';
$small:'only screen and (min-width: 781px)';
$medium:'only screen and (min-width: 992px)';
$large:'only screen and (min-width: 1200px)';
$x-large:'only screen and (min-width: 1500px)';
